body{
    display:grid;
    min-height: 100vh;
    overflow:hidden;
    margin:0;
    padding:0;
}
div{
    margin:0;
    padding:0;
}
h1{
    margin:0;
    padding:0;
}

.App{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    border:1px solid blue;
}
.LEFT{
    min-width: 50%;
    flex-shrink: 0;
    border:2px solid rgb(255, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.RIGHT{
    width:50%;
    border:2px solid black;
    display: flex;
    flex-direction: column;
}
.PersonalData{
   flex:1;
   display:flex;
   justify-content: space-between;
   max-height: 300px;
}
.personal_info{
    margin-left:10%;
    margin-right: 10%;
    border:1px solid black;
    margin-bottom:0px;
    margin-top:30px;
}
.personal_info div{
    display:flex;
    
}
.personal_info input{
    width:100%;
    margin:4px;
}
textarea{
    width:100%;
    margin:4px;
}
.Education{
    flex:1;
    display:flex;
    justify-content: space-between;
    max-height: 240px;

}
.education{
    margin-left:10%;
    margin-right: 10%;
    border:1px solid black;
    margin-bottom:0px;
    margin-top:30px;
}
.education div{
    display:flex;
    
}
.education input{
    width:100%;
    margin:4px;
}
.Experience{
    flex:1;
    display:flex;
    max-height: 250px;
}
.experience{
    margin-left:10%;
    margin-right: 10%;
    border:1px solid black;
    margin-bottom:0px;
    margin-top:30px;
}
.experience div{
    display:flex;
    
}
.experience input{
    width:100%;
    margin:4px;
}
.fullname{
    font-size:35px;
    font-weight:500;
}
